 
    <li data-behavior= 'notifications' id="test">
     <a class="far fa-bell g-color" href="/conversations" role="button" id="dropdownMenuLink" data-behavior='notifications-link' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    
        <span class="badge badge-danger" data-behavior="unread-count"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" data-behavior='notification-items'>

    </div>
    </li>

<!--
 <li  data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
          <a class="dropdown-toggle far fa-bell text-warning" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="badge badge-danger" data-behavior="unread-count"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
            <%# <a class="dropdown-item" href="#">Action</a> %>
          
         
          </div>
        </li>
   -->
