<%# NEW EVENT-FORM %>
<div class="container text-center mt-5">
  <h4 class="main-color">Create new event</h4>
    <div class="container text-left sign-form">

    <%= render 'form', event: @event %>

    </div>
</div>
