<!-- Navigation -->
<%= render 'layouts/guest-org-navbar'%>

<%# SLIDE Carousel %>
<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <%= image_tag'slides/helena-lopes-PGnqT0rXWLs-unsplash.jpg',class:'carousel-img'%>
        </div>
        <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
            <%= image_tag'slides/helena-lopes-PGnqT0rXWLs-unsplash.jpg',class:'carousel-img'%>
        </div>
        <div class="carousel-item">
               <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
            <%= image_tag'slides/helena-lopes-PGnqT0rXWLs-unsplash.jpg',class:'carousel-img'%>
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<%# SERVICES %>
<section class="cid-r6Vl2LvYf1" id="features1-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3">
                <div class="row-item">
                    <div class="card-img pb-3 align-center">
                        <span class="mbr-iconfont fas fa-comments"></span>
                    </div>
                    <h5 class="mbr-fonts-style mbr-card-title align-center pb-2 display-5">Learn more</h5>
        
                    <p class="mbr-text mbr-fonts-style align-center mbr-light m-0 display-7">What are you into? Write down all the interests you work with during 10 years to learn yourself.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="row-item">
                    <div class="card-img pb-3 align-left">
                        <span class="mbr-iconfont fas fa-comments"></span>
                    </div>
                    <h5 class="mbr-fonts-style mbr-card-title align-center pb-2 display-5">Generate ideas</h5>
        
                    <p class="mbr-text mbr-fonts-style align-center mbr-light m-0 display-7">First, check if your interests are up-to-date. Then think, how premium bootstrap templates can be needed in the future.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="row-item">
                    <div class="card-img pb-3 align-left">
                        <span class="mbr-iconfont fas fa-comments"></span>
                    </div>
                    <h5 class="mbr-fonts-style mbr-card-title align-center pb-2 display-5">Start a project</h5>
                    <p class="mbr-text mbr-fonts-style align-center mbr-light m-0 display-7">If you attend our lecture, you'll learn ways to state yourself and start the project successfully.</p>
                </div>
            </div>

        </div>
    </div>
</section>