<!-- Events Widget -->
<% unless Event.all.empty? %>
    <div class="card ">
    <h4 class="">Events<hr></h4>
    <div class='org-item'>
        <% @events = Event.all.order("created_at DESC") %>
        <% @events[0..3].each do |event| %>
        <li>
            <strong class='main-color'><%= link_to event.title, event_path(event) %></strong>
            <p class='g-color'>by: <%= event.organization.company_name %></p>
        </li>
        <hr>
        <% end %>
    </div>
    </div>
<% end %>