<% unless Category.all.empty? %>
<!-- Categories Widget -->
<div class="card ">
  <h4 class="">Categories<hr></h4>
  <div class='category-item'>
    <% @categories.each do |category| %>
      <strong><%= link_to "<li>#{category.name}</li>".html_safe, posts_path(category.name) %></strong>
    <% end %>
  </div>
</div>
<% end %>

<% unless Organization.all.empty? %>
  <!-- Orgs Widget -->
  <div class="card ">
    <h4 class="">Organizations<hr></h4>
    <div class='org-item'>
      <% @orgs = Organization.all.order("created_at DESC") %>
      <% @orgs[0..3].each do |org| %>
        <li>
          <strong class='main-color'><%= link_to org.company_name, organization_path(org) %></strong>
          <p class='g-color'><%= org.address %></p>
        </li>
        <hr>
      <% end %>
    </div>
  </div>
<% end %>