<h1 class="text-center header-primary">Posts</h1>
<% if @posts.empty? %>

    <p> There are not posts yet,</p>
<%else%>
    
<% end %>


   

<%= link_to "Add new post","/posts/new",class:"btn btn-warning mx-4 my-4 btn-lg"  %>