<%# NEW EVENT-FORM %>
<div class="container text-center mt-5">
  <h4 class="main-color">Create new post</h4>
    <div class="container text-left sign-form">

    <%= render 'form', post: @post %>

    </div>
  <%= link_to 'Back', :back>
</div>


