// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// Your CSS partials
@import "pages/index";

body {
    color: #2873b6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}

h4, .h4 {
  font-size: 1.1rem;
}
h5, .h5 {
  font-size: 1rem;
}
li{
  text-decoration: none;
}
.card {
    margin: 2% 0;
    padding: 1.3rem;
    -webkit-border-radius: 1rem;
-moz-border-radius: 1rem;
border-radius: 1rem;
  }

// NAVBAR
.navbar {
    background-color: #2873b6;
    // padding: 0.5rem 8rem;
}

.navbar li {
  text-decoration: none;
  color: white;
}

.nav-box {
  border-radius: 0.7rem !important;
  border: 2px solid #ffff !important;
  color: white !important;
}

.nav-box:hover {
  border-radius: 0.7rem !important;
  border: 2px solid #2873b6 !important;
  color: #2873b6 !important;
}

.navbar li {
    // margin: 0 10px;
    display: block;
    float: left;
    padding: 0.5rem 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border: 2px solid #2873b6;

}

.navbar li:hover {
    color: #2873b6;
    background-color: #fff;
    border: 2px solid white;
    border-radius: 0.7rem;
}

.navbar .nav-profile ul li a{
  text-decoration: none;
  color: #2873b6;
}
.nav-header {
  margin-left :4.5rem;
}

.nav-right {
  margin-right :5rem;
}

.nav-profile {
  border: 2px solid white !important;
  border-radius: 0.7rem;
}
.dropdown-toggle {
  color:white;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
    // right: 0;
}
.dropdown-menu li{
  border: none !important;
}
.dropdown-menu li:hover{
  border: 1.5px solid #2873b6;
  color: #2873b6;
}

.main-box {
    background-color: #2873b6;
}

.main-box a {
    color: white;
}

// COLORS
.main-color {
    color: #2873b6;
}

.fg-color {
    opacity: 0.7;
}

.g-color {
    color: #9e9e9e;
}

// SEARCHBAR
.searchbar {
    /* margin-top: 2%; */
    /* height: 24px; */
    // background-color: #f1f1f1d3;
    // padding: 4px 0px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    line-height: 38px;
    transition: width 0.4s linear;
}
.searchbar ::placeholder {
  color: white;
}

.searchbar:hover>.search_input {
  padding: 0 1rem;
  width: 18rem;
    border-radius: 0.7rem;
    border: 2px solid white;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    // background: white;
    color: #ffff;
    // background-color: #2873b6;
}

.search_icon {
  padding:0.65rem 0.5rem;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 50%;
    color: #ffff;
}

// SIGN-FORM
.sign-form {
    width: 400px;
}

.form-control-label,
.form-check-label {
    color: #6b6a69;
}

// BUTTON
input.btn,
{
    margin: auto;
    text-align: center;
    background-color: #2873b6;
    border-radius: 0.7rem;
}

.attend-btn {
  width: 100%;
  display: block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;
  background-color: #2873b6;
}
.attend-btn:hover {
  color: #2873b6;
  border:2px solid #2873b6;
  background-color: white;
}

.form-actions input {
    color: white;
}
.form-actions input:hover {
  color: #2873b6;
  background-color: white;
  border: 2px solid #2873b6;
}


.btn-block {
    color: white;
    background-color: #2873b6;
}

// CARD
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-text {
  color: rgba(0, 0, 0, 0.473);
}
.card-title {
  color: #505050;
}
.card-body {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  padding: 0.8rem;
}
// PROFILE
/* Profile container */
.profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 10px 10px 10px;
    background: #fff;
  }
  
  .profile-userpic {
      margin: 7%;
  }
  .profile-userpic img {
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    object-fit: cover
  }
  
  // .carousel-img{
  //   -webkit-border-radius: 1rem;
  //   -moz-border-radius: 1rem;
  //   border-radius: 1rem;
  //   object-fit: cover
  // }
  .profile-usertitle {
    text-align: center;
  }

  .profile hr{
    margin-top: 0;
    margin-bottom: 0;

  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
    padding: 3% 7%;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
a{
  color: #2873b6;  
}
a:hover {
  text-decoration: none;
}
.card .card-img-box {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  overflow: scroll;
  height: 500px;
}
.card .card-img-top {    
  width: 100%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  object-fit: cover
  // height: 500px; 
}


.profile{
  margin: 20px 0;
  padding: 0.6rem;
  background-color:white;
}

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  font-size: 1.3rem;
}
.nav-right li .far{
  color: white;  
}
.nav-right li .far:hover{
  color: #2873b6;  
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.1rem;
}

.post-footer-text {
  font-size: 1.1rem;
}

.card-footer-comments strong{
  padding: 0 0.5rem; 
}
.card-footer-rates {
margin: 0 1rem ;
}
.card-footer-rates strong{
  padding: 0 0.5rem; 
}
.card-footer-rates strong:hover {
  color: #E67E22;
}
.card-footer-comments strong:hover {
  color: #2873b6;
}

// search-bar
.main-col {
  margin-left: 5rem;
  margin-right: 5rem;
}
.show-content{
padding: 1rem 2rem;
}

.show-content p{
  font-size: 120%;
}

// Messages
.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  color: white;
  background-color: #2873b6;
  border-radius: 0.7rem;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  position: relative;
  background-color: #e7e7e7;
  border-radius: 0.7rem;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}


.time {
  margin: 0 1%;
  /* line-height: 1.2; */
  margin-bottom: 0.5rem;
}

.category-item li{
  display: block;
  margin: 0.3rem;
  // display: flex;
  padding: 12px 19px;
  border-radius: 0.7rem;
  border: 2px solid #2873b6;
  color: #2873b6;
}
.category-item li:hover {
  // border: 2px solid #2873b6;
  color: white;
  background: #2873b6;
}
.org-item li{
  display: block;
  margin: 0.3rem 0;
  // display: flex;
  padding: 0px 20px;
  border-radius: 0.7rem;
  // border: 2px solid #2873b6;
  color: #2873b6;
}
.org-item li:hover {

}

.col-md-3 {
	// position: float;
	
	/* Position the items */
	// &:nth-child(2) { top: 25%; }
	// &:nth-child(3) { top: 50%; }
	// &:nth-child(4) { top: 75%; }
}
.right-col{
  // position: -webkit-sticky;
	// position: sticky;
	top: 1rem;
}
.left-col{
  // position: -webkit-sticky;
	// position: sticky;
	top: 1rem;
}

button {
  display: none;
}

.default-btn {
  background: none;
  border: none;
}

// CHAT
textarea.form-control {
  height: auto;border: 1px solid #2873b6;
  border-radius: 0.7rem;
}

.send-btn {
  color: white;
  background-color: #2873b6;
  border-radius: 0.7rem;
  margin: auto;
  text-align: center;
  padding: 0.375rem 0.75rem;
  text-decoration: none;
}

.job p {
  margin-bottom: 0.4rem;
}