<!-- Navigation -->
<% if !user_signed_in? && !organization_signed_in? %>
  <div class="navbar">
    <%# HEARDER OR LOGO %>
    <%= render 'layouts/navbar-header'%>
    <%# LEFT SIDE %>
    <div class="row text-right"> 
        <strong>
        <li class="nav-box">
            <%= link_to "Users", root_path, :class => ''  %>
        </li>
        <li class="">
            <%= link_to "Register", new_organization_registration_path, :class => ''  %> 
        </li>
        <li class="">
            <%= link_to "Login", new_organization_session_path, :class => ''  %>
        </li>
        </strong>
    </div>
  </div>
<% end %>