<!-- Navigation -->
<% if !user_signed_in? && !organization_signed_in? %>
  <div class="navbar">
    <%# HEARDER OR LOGO %>
    <%= render 'layouts/navbar-header'%>
    <%# LEFT SIDE %>
    <div class="row text-right"> 
        <strong>
            <%= link_to "<li>Register</li>".html_safe, new_organization_registration_path %> 
            <%= link_to "<li>Login</li>".html_safe, new_organization_session_path %>
            <%= link_to "<li class='nav-box'>Users</li>".html_safe, root_path%>
        </strong>
    </div>
  </div>
<% end %>