<div class="nav-header">
      <div class="nav-title">
        <% if current_organization %>
          <%= link_to image_tag('Logo.png',style:'width:15rem;'),org_root_path %>      
        <% else %>
          <%= link_to image_tag('Logo.png',style:'width:15rem;'),root_path %>    
        <% end %>
      </div>
</div>