<%= link_to "<li>#{current_organization.company_name}<li>".html_safe, organization_path(current_organization)  %>
<%= link_to "<li>Logout</li>".html_safe, destroy_organization_session_path, method: :delete  %>