<li class="">
    <%= link_to current_organization.email, edit_organization_registration_path, :class => '' %> 
</li>
<li class="">
    <%= link_to "Logout", destroy_organization_session_path, method: :delete, :class => ''  %>
</li>