<li class="">
  <%= link_to current_user.username, edit_user_registration_path(current_user), :class => '' %> 
</li>
<li class="">
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => ''  %>
</li>