<li class="dropdown nav-profile">
        <a class="" data-toggle="dropdown"><i class='fas fa-user' style='padding-right:0.5rem;'></i><%= link_to current_user.username.capitalize,user_path(current_user),class:' dropdown-toggle' %></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit Account', edit_user_registration_path(current_user) %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    </ul>
</li>
        