<strong>
  <%# USER_NAME EDIT PAGE %>
  <%= link_to "<li>#{current_user.username}</li>".html_safe, user_path(current_user), :class => '' %>
  <%# LOG-OUT %>
  <%= link_to "<li>Logout</li>".html_safe, destroy_user_session_path, method: :delete, :class => ''  %>
</strong> 